{% extends 'base.html' %} {% block content %}

<h2>Account Activated!</h2>
<p>Dear {{username}},</p>
<p>We are thrilled to have you as a new user of our [Application Name]. This email is to provide you with some information about our application and to help you get started.</p>
<p>Conarbs is designed to help you scan for crypto arbitrage opportunties easily. We have worked hard to make sure our application is user-friendly and easy to navigate, but if you have any questions or need assistance, please don't hesitate to reach out to our <a href="conarbs.com">support team</a>.</p>
<br>
<p>To get started, please follow the steps below:</p>
<ol>
  <li>Create a New Scan here</li>
  <li>Set up Notifcation email</li>
  <li>When a new scan is available, you'd be notified</li>
</ol>
<br>
<p>
  Thank you again for choosing Conarbs. We hope you find our application useful and enjoyable. If you have any feedback or suggestions, we would love to hear from you.
</p>


<p>Best regards,</p>
<p>Taiwo Adebisi</p>
<p>CEO</p>
{% endblock %}
